@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white: #FFFFFF;
    --black: #202020;

    --light-gray: #EFEFEF;
    --medium-gray: #F1F1F1;
    --dark-gray: #969696;

    --light-green: #4EBC57;
    --medium-green: #50B256;
    --dark-green: #1F873C;
    --darker-green: #183921;
    --neon-green: #94E400;

    --light-yellow: #FEFFE9;
    --dark-orange: #FFC21C;
}

/* KumbhSans Light */
@font-face {
    font-family: 'KumbhSansFont';
    src: url('/fonts/KumbhSans/KumbhSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* KumbhSans Regular */
@font-face {
    font-family: 'KumbhSansFont';
    src: url('/fonts/KumbhSans/KumbhSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* KumbhSans Semibold */
@font-face {
    font-family: 'KumbhSansFont';
    src: url('/fonts/KumbhSans/KumbhSans-SemiBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* Koulen Regular */
@font-face {
    font-family: 'KoulenFont';
    src: url('/fonts/Koulen/Koulen-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Jaldi Bold */
@font-face {
    font-family: 'JaldiFont';
    src: url('/fonts/Jaldi/Jaldi-Bold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Jaldi Regular */
@font-face {
    font-family: 'JaldiFont';
    src: url('/fonts/Jaldi/Jaldi-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Lalezar Regular */
@font-face {
    font-family: 'LalezarFont';
    src: url('/fonts/Lalezar/Lalezar-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Langar Regular */
@font-face {
    font-family: 'LangarFont';
    src: url('/fonts/Langar/Langar-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Lemon Regular */
@font-face {
    font-family: 'LemonFont';
    src: url('/fonts/Lemon/Lemon-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Merienda Medium */
@font-face {
    font-family: 'MeriendaFont';
    src: url('/fonts/Merienda/Merienda-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* MervaleScript Regular */
@font-face {
    font-family: 'MervaleScriptFont';
    src: url('/fonts/MervaleScript/MervaleScript-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Metal Regular */
@font-face {
    font-family: 'MetalFont';
    src: url('/fonts/Metal/Metal-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Pacifico Regular */
@font-face {
    font-family: 'PacificoFont';
    src: url('/fonts/Pacifico/Pacifico-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Josefin Slab */
@font-face {
    font-family: Josefin-Slab;
    src: url("/fonts/JosefinSlab/JosefinSlab-BoldItalic.ttf") format('truetype');
    font-style: normal;
}

/* Kreon */
@font-face {
    font-family: "KreonFont";
    src: url("/fonts/Kreon/Kreon-Regular.ttf") format('truetype');
    font-style: normal;
    font-weight: 400;
}

/* New Tegomin */
@font-face {
    font-family: "NewTegominFont";
    src: url("/fonts/NewTegomin/NewTegomin-Regular.ttf") format('truetype');
    font-style: normal;
    font-weight: 400;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: var(--light-gray);
    border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--medium-gray);
    border-radius: 6px;
    border: 3px solid var(--medium-gray);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--medium-green);
}
